<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admina Bootstrap Admin. This is the demo of Admina. You need to purchase a license for legal use!">
    <meta name="author" content="DownTown Themes">

    <link rel="shortcut icon" href="../../assets/img/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <title>Get diploma by teacher</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!--Icon fonts css-->
    <link href="../../assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../assets/plugins/ionicon/css/ionicons.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap-reset.css" rel="stylesheet">

    <!--Animation css-->
    <link href="../../assets/css/animate.css" rel="stylesheet">

    <!--Morris Chart CSS -->
    <!--<link rel="stylesheet" href="assets/plugins/morris/morris.css">-->

    <!-- sweet alerts -->
    <link href="../../assets/plugins/sweet-alert/sweet-alert.min.css" rel="stylesheet">

    <link href="../../assets/plugins/toggles/toggles.css" rel="stylesheet" />

    <!-- Custom styles -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/helper.css" rel="stylesheet">
    <link href="../../assets/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="query_17">

<!-- Header -->
<header class="top-head container-fluid navbar-fixed-top">
    <!-- logo -->
    <div class="logo hidden-xs">
        <a href="index-2.html" class="logo-expanded"> <img src="../../assets/img/icon.png" alt="logo"> <span class="nav-text">Інформаційна система ВНЗ</span> </a>
    </div>
    <!-- end logo -->
</header>
<!-- End Header -->

<!-- Aside Menu -->
<aside class="left-panel">

    <!-- Navbar -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class="has-submenu">
                <a href="../../index-2.html"><i class="fa fa-home" aria-hidden="true"></i> <span class="nav-label">Головна</span></a>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="fas fa-table"></i> <span class="nav-label">Таблиці</span> <span class="caret pull-right m-t-10"></span></a>
                <ul class="list-unstyled">
                    <li>
                        <a href="../../deaneries.html">Деканати</a>
                    </li>
                    <li>
                        <a href="../../departments.html">Факультети</a>
                    </li>
                    <li>
                        <a href="../../chairs.html">Кафедри</a>
                    </li>
                    <li>
                        <a href="../../groups.html">Групи</a>
                    </li>
                    <li>
                        <a href="../../students.html">Студенти</a>
                    </li>
                    <li>
                        <a href="../../teachers.html">Викладачі</a>
                    </li>
                    <li>
                        <a href="../../subjects.html">Предмети</a>
                    </li>
                    <li>
                        <a href="../../sessions.html">Сесія</a>
                    </li>
                    <li>
                        <a href="../../curriculum.html">Розклад</a>
                    </li>
                    <li>
                        <a href="../../diplomas.html">Дипломні роботи</a>
                    </li>
                    <li>
                        <a href="../../doctoralDisertations.html">Докторські дисертації</a>
                    </li>
                    <li>
                        <a href="../../candidatesDisertations.html">Кандидатські дисертаціх</a>
                    </li>
                    <li>
                        <a href="../../categoryOfTeachers.html">Категорії викладачів</a>
                    </li>
                    <li>
                        <a href="../../typeOfSubjects.html">Типи предмету</a>
                    </li>
                    <li>
                        <a href="../../formOfControls.html">Форми контролю</a>
                    </li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#"><i class="fas fa-question-circle"></i> <span class="nav-label">Запити</span> <span class="caret pull-right m-t-10"></span></a>
                <ul class="list-unstyled">
                    <li>
                        <a href="../query_1/query_1.html">Запит №1</a>
                    </li>
                    <li>
                        <a href="../query_2/query_2.html">Запит №2</a>
                    </li>
                    <li>
                        <a href="../query_3/query_3.html">Запит №3</a>
                    </li>
                    <li>
                        <a href="../query_4/query_4.html">Запит №4</a>
                    </li>
                    <li>
                        <a href="../query_5/query_5.html">Запит №5</a>
                    </li>
                    <li>
                        <a href="../query_6/query_6.html">Запит №6</a>
                    </li>
                    <li>
                        <a href="../query_7/query_7.html">Запит №7</a>
                    </li>
                    <li>
                        <a href="../query_8/query_8.html">Запит №8</a>
                    </li>
                    <li>
                        <a href="../query_9/query_9.html">Запит №9</a>
                    </li>
                    <li>
                        <a href="../query_10/query_10.html">Запит №10</a>
                    </li>
                    <li>
                        <a href="../query_11/query_11.html">Запит №11</a>
                    </li>
                    <li>
                        <a href="../query_12/query_12.html">Запит №12</a>
                    </li>
                    <li>
                        <a href="../query_13/query_13.html">Запит №13</a>
                    </li>
                    <li>
                        <a href="../query_14/query_14.html">Запит №14</a>
                    </li>
                    <li>
                        <a href="../query_15/query_15.html">Запит №15</a>
                    </li>
                    <li>
                        <a href="../query_16/query_16.html">Запит №16</a>
                    </li>
                    <li>
                        <a href="../query_17/query_17.html">Запит №17</a>
                    </li>
                    <li>
                        <a href="../query_18/query_18.html">Запит №18</a>
                    </li>
                    <li>
                        <a href="../query_19/query_19.html">Запит №19</a>
                    </li>
                    <li>
                        <a href="../query_20/query_20.html">Запит №20</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- End Navbar -->

</aside>
<!-- End Aside -->

<!--Main Content -->
<section class="content" ng-controller="AppCtrl as ctrl">

    <!-- Page Content -->

    <div class="wraper container-fluid">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Отримати список студентів та тем дипломних робіт, які були виконані під керівництвом вказаного викладача
                    </h3>
                    <hr>
                    <select required class="form-control" type="text" name="teacher" id="teacher"></select><br>
                    <button ng-click="ctrl.getDiplomaByTeacher()" type="button" class="btn btn-primary">Одержати</button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Тема дипломної роботи</th>
                                    <th>Викладач</th>
                                    <th>Студент</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in diplomas">
                                    <td>{{item.id}}</td>
                                    <td>{{item.themeOfDiploma}}</td>
                                    <td>{{item.teacher.name}}</td>
                                    <td>{{item.student.name}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
</section>

<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../query/query_17/query_17.js"></script>

<!-- Basic Plugins -->
<script src="../../assets/js/jquery-2.1.4.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/modernizr.min.js"></script>
<script src="../../assets/js/pace.min.js"></script>
<script src="../../assets/js/wow.min.js"></script>
<script src="../../assets/js/jquery.scrollTo.min.js"></script>
<script src="../../assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="../../assets/plugins/chat/moment-2.2.1.js"></script>
<script src="../../assets/plugins/toggles/toggles.min.js"></script>

<!-- Counter up -->
<script src="../../assets/js/waypoints.min.js" type="text/javascript"></script>
<script src="../../assets/js/jquery.counterup.min.js" type="text/javascript"></script>

<!--&lt;!&ndash; jQuery Flot Chart&ndash;&gt;-->
<!--<script src="assets/plugins/flot-chart/jquery.flot.js"></script>-->
<!--<script src="assets/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>-->
<!--<script src="assets/plugins/flot-chart/jquery.flot.resize.js"></script>-->

<!--&lt;!&ndash;Morris Chart&ndash;&gt;-->
<!--<script src="assets/plugins/morris/morris.min.js"></script>-->
<!--<script src="assets/plugins/morris/raphael.min.js"></script>-->
<!--<script src="assets/plugins/morris/morris.init.js"></script>-->

<!-- Sparkline -->
<script src="../../assets/plugins/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="../../assets/js/sparkline_demo.js" type="text/javascript"></script>

<!-- Sweet Alerts -->
<script src="../../assets/plugins/sweet-alert/sweet-alert.min.js"></script>
<script src="../../assets/plugins/sweet-alert/sweet-alert.init.js"></script>

<!-- Todo -->
<!--<script src="assets/js/todo.js"></script>-->

<!-- Site Script -->
<script src="../../assets/js/app.js"></script>

<!-- Demo Swicth Color -->
<!--<script src="assets/js/demo_color.js"></script>-->

</body>
</html>
